<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.resume_url %}
          <li>
            <a href="{{ site.resume_url }}">
              <i class="icon ion-document-text"></i>
              <span class="social-media-item">Résumé</span>
            </a>
          </li>
          {% endif %}
          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="icon ion-email"></i>
              <span class="social-media-item">Email</span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_url %}
          <li>
            <a href="{{ site.linkedin_url }}">
              <i class="icon ion-social-linkedin"></i>
              <span class="social-media-item">LinkedIn</span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="icon ion-social-github"></i>
              <span class="social-media-item">GitHub</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
