<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ site.url }}/"><strong>{{ site.name }}</strong></a>

    <nav class="site-nav">
      {% assign sorted_pages = site.pages | sort: "order" %}
      {% for node in sorted_pages %}
        {% if node.title %}

          {% if node.url == page.url %}
            <a class="page-link" href="{{ node.url | prepend: site.url }}"><span class="icon {{ node.icon }}"> {{ node.title }}</span></a>
          {% else %}
            <a class="page-link" href="{{ node.url | prepend: site.url }}"><span class="icon {{ node.icon }}"> {{ node.title }}</span></a>
          {% endif %}

        {% endif %}
      {% endfor %}
    </nav>

  </div>
</header>
