<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ site.url }}/"><strong>{{ site.name }}</strong></a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <span class="icon ion-navicon-round"></span>
      </a>

      <div class="trigger">
          {% assign sorted_pages = site.pages | sort: "order" %}
          {% for node in sorted_pages %}
            {% if node.title %}
              <span class="icon {{ node.icon }}">
              <a class="page-link" href="{{ node.url | prepend: site.url }}">{{ node.title }}</a>
              </span>&nbsp;&nbsp;
            {% endif %}
          {% endfor %}
      </div>
    </nav>

  </div>
</header>
