<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="icon ion-navicon-round"></i>
      </a>

      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/"><i class="icon ion-home"></i> About</a>
        <a class="page-link" href="{{ site.baseurl }}/education"><i class="icon ion-university"></i> Education</a>
        <a class="page-link" href="{{ site.baseurl }}/work"><i class="icon ion-briefcase"></i> Work</a>
        <a class="page-link" href="{{ site.baseurl }}/portfolio"><i class="icon ion-folder"></i> Portfolio</a>
        <a class="page-link" href="{{ site.baseurl }}/contact"><i class="icon ion-chatbox"></i> Contact</a>
      </div>
    </nav>
  </div>

</header>
