<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

        {% if site.construction == true %}
          <div class="alert alert-warning" role="alert">
            {% asset icons/warning.svg title='Notice!' %} <b>Notice!</b> Website is currently under construction!
          </div>
        {% endif %}

        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
