// Color Scheme
$white-color:     #FFFFFF;
$black-color:     #2A2C2B;
$red-color:       #F6484F;
$dark-red-color:  #7A3235;
$grey-color:      #9D9D9D;
$dark-grey-color: #374140;

// Font
$font-family:     Helvetica, Arial, Sans-Serif;
$font-size:       16px;
$small-font-size: $font-size * 0.875;
$font-weight:     300;
$line-height:     1.5;

// Content Area
$content-width: 800px;
$header-height: 56px;
$footer-height: 36px;
$spacing-unit:  24px;

// Stylesheets
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'styles';
