<!-- Contact Section -->
<section id="contact">
  <div class="container-fluid">
    <h3>Contact Me</h3>
    <hr/>
    {% assign sorted-contacts = site.contacts | sort: "order" %}

    <!-- Contact Information -->
    <div class="row">
      <div class="col-xs-12">
        {% for contact in sorted-contacts %}
          {% if contact.title == "Email" %}
            <a role="button" class="btn btn-primary" href="mailto:{{ contact.website }}">
              <i class="fa {{ contact.icon }} fa-fw"></i>&nbsp; {{ contact.title }}
            </a>
          {% else %}
            <a role="button" class="btn btn-primary" href="{{ contact.website }}">
              <i class="fa {{ contact.icon }} fa-fw"></i>&nbsp; {{ contact.title }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</section>
