<header class="site-header">
  <div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Mitch Lindsay</a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about"><i class="fa fa-user fa-fw"></i>&nbsp; About</a></li>
            <li><a href="#career"><i class="fa fa-briefcase fa-fw"></i>&nbsp; Career</a></li>
            <li><a href="#projects"><i class="fa fa-folder-open fa-fw"></i>&nbsp; Projects</a></li>
            <li><a href="#skills"><i class="fa fa-book fa-fw"></i>&nbsp; Skills</a></li>
            <li><a href="#education"><i class="fa fa-graduation-cap fa-fw"></i>&nbsp; Education</a></li>
            <li><a href="#contact"><i class="fa fa-comments fa-fw"></i>&nbsp; Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
