<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Mitch Lindsay">
  <meta name="keywords" content="Mitch Lindsay, Software Engineer, Portfolio">
  <meta name="description" content="{{ site.description }}">

  <title>{{ site.title }}</title>

  <link rel="shortcut icon" type="image/x-icon" href="{% asset_path 'favicon.ico' %}" />
  <link rel="apple-touch-icon" type="image/png" href="{% asset_path 'favicon.ico' %}" >

  {% stylesheet main %}
  {% javascript jquery.min %}
  {% javascript bootstrap.min %}
</head>
