<!-- Work Section -->
<section id="work">
  <div class="container-fluid">
    <h4><i class="fa fa-briefcase fa-fw"></i>&nbsp; Work Experience</h4>
    <hr class="section-header"/>
    {% assign sorted-jobs = site.jobs | sort: "order" %}
    {% for job in sorted-jobs reversed %}

      <!-- Job Information -->
      <div id="{{ job.company }}">

        <!-- Job Position and Start/End Dates -->
        <div class="row">
          <div class="col-xs-12">
            <b>{{ job.position }}</b>
            <span class="pull-right">{{ job.start-date }} – {{ job.end-date }}</span>
          </div>
        </div>

        <!-- Company Name and Location -->
        <div class="row">
          <div class="col-xs-12">
            <a href="{{ job.website }}">{{ job.company }}</a> – {{ job.location }}<br/>
          </div>
        </div>

        <!-- Job Summary -->
        <div class="row">
          <div class="col-xs-12">
            <p class="job-summary">{{ job.summary }}</p>
          </div>
        </div>

        <!-- Job Responsibilities & Accomplishments -->
        <div class="row">
          <div class="col-xs-12">
            <ul>
              {% for responsibility in job.responsibilities %}
                <li>{{ responsibility }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
      {% unless forloop.last %}<hr/>{% endunless %}

    {% endfor %}
    <br/>
  </div>
</section>
