---
layout: default
title: Education
icon: graduation-cap
priority: 4
---

<div class="page">

  <header class="page-header">
    <h1 class="page-heading">{{ page.title }}</h1>
  </header>

  <!-- Schools Sorted by End Date -->
  {% assign sorted-schools = site.schools | sort: "end-date" %}
  {% for school in sorted-schools reversed %}

    <div id="{{ school.name }}" class="container-fluid">

      <!-- School Photo -->
      <div class="row">
        <div class="col-xs-12">
          {% image photos/'{{ school.photo }}' alt:'{{ school.name }}' class:'profile img-rounded' %}
        </div>
      </div>

      <!-- School Name, Degree, Major, Location, and Relevant Dates -->
      <div class="row">
        <div class="col-xs-12">
          <a href="{{ school.website }}"><b>{{ school.name }}</b></a><br />
          <b>{{ school.degree }}{{ school.major }}</b><br />
          {% if school.concentration %}
            <b>Concentration</b>: {{ school.concentration }}<br />
          {% endif %}
          {{ school.location }}
          {% if school.graduated == true %}
            | Graduated {{ school.end-date }}
          {% else %}
            | {{ school.start-date }} - {{ school.end-date }}
          {% endif %}
        </div>
      </div>

      <hr class="subdivider" />

      <!-- Coursework -->
      {% if school.coursework %}
        <!-- Header -->
        <div class="row row-header">
          <div class="col-xs-12">
            <b>Relevant Coursework</b>:
          </div>
        </div>
        <!-- Courses -->
        <div class="row">
          <div class="col-xs-12">
            {% assign sorted-courses = school.coursework | sort %}
            {% for course in sorted-courses %}
              <li>{{ course }}</li>
            {% endfor %}
          </div>
        </div>
      {% endif %}

    </div><br />
    {% unless forloop.last %}
      <hr class="divider" />
    {% endunless %}
  {% endfor %}

</div>
