---
layout: default
title: Home
icon: fa-home
priority: 1
---

<div class="home">

  <div class="container-fluid">
    <div class="jumbotron">
      <!-- Profile -->
      <h2>Hi, I'm Mitch!</h2>
      {% image photos/'{{ site.portrait }}' alt:'{{ site.portrait-text }}' class:'profile img-rounded' %}
      <p>
        {% for job in site.jobs %}
          {% if job.end-date == "Present" %}
            {% if job.contract == false %}
              {% assign has-job = true %}
              I'm a software engineer working at <a href="{{ job.website }}">{{ job.company }}</a>.
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if has-job != true %}
          I'm a software engineer.
        {% endif %}
      </p>
      <!-- Site Links -->
      {% assign sorted-pages = site.pages | sort: "priority" %}
      {% if sorted-pages %}
        <p>You can find out more about my 
        {% for node in sorted-pages %}
          {% if node.title != "Home" %}
            {% if forloop.last %} and {% endif %}
            <a style="text-transform: lowercase" 
               href="{{ node.url | prepend: site.url }}">{{ node.title }}</a></span>{% if forloop.last != true %},{% endif %}
          {% endif %}
        {% endfor %}
        by visiting each of the corresponding pages.</p>
      {% endif %}
      <!-- Contact Info -->
      {% assign sorted-contacts = site.contacts | sort: "priority" %}
      {% if sorted-contacts %}
        <p>If you’d like to get in touch, you can
        {% for contact in sorted-contacts %}
          {% if forloop.last %} or {% endif %}
          {{ contact.phrase }}
          {% if contact.title == "Email" %}
            <a href="mailto:{{ contact.url }}">{{ contact.url }}</a>{% if forloop.last %}.{% else %},{% endif %}
          {% else %}
            <a href="{{ contact.url }}">{{ contact.title }}</a>{% if forloop.last %}.{% else %},{% endif %}
          {% endif %}
        {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>

</div>
