---
layout: default
title: Projects
icon: fa-folder-open
priority: 3
---

<div class="page">

  <header class="page-header">
    <h1 class="page-heading">{{ page.title }}</h1>
  </header>

  <!-- Projects Sorted by End Date -->
  {% assign sorted-projects = site.projects | sort: "end-date" %}
  {% for project in sorted-projects reversed %}

    {% for screenshot in project.screenshots %}
      <!-- Screenshot Modal -->
      <div class="modal fade" id="{{ screenshot.image }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{ project.name }} - {{ screenshot.text }}</h4>
            </div>
            <div class="modal-body">
              {% image projects/'{{ screenshot.image }}' alt:'{{ screenshot.text }}' %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <div id="{{ project.name }}" class="container-fluid">

      {% if project.screenshots %}
        <div class="row">
          {% for screenshot in project.screenshots %}
            <!-- Screenshot Thumbnail -->
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail" data-toggle="modal" data-target="#{{ screenshot.image }}-modal">
                {% image projects/'{{ screenshot.image }}' alt:'{{ screenshot.text }}' %}
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <!-- Project Name and Start/End Dates -->
      <div class="row">
        <div class="col-xs-8">
          <b>{{ project.name }}</b><br />
          {% if project.download %}
            <a href="{{ project.download }}">Download</a> |
          {% endif %}
          {% if project.source %}
            <a href="{{ project.source }}">Source Code</a> |
          {% endif %}
          {% if project.school == true %}
            School Project |
          {% endif %}
          {% if project.end-date == project.start-date %}
            {{ project.end-date }}<br />
          {% else %}
            {{ project.start-date }} - {{ project.end-date }}<br />
          {% endif %}
        </div>
      </div>

      <hr class="subdivider" />

      <!-- Project Description -->
      {% if project.content %}
        <div class="row row-header">
          <div class="col-xs-12">
            <b>Description</b>:
          </div>
        </div>
        <div class="row">
          {{ project.content }}
        </div>
      {% endif %}

      <!-- Related Jobs -->
      {% assign jobs = site.jobs %}
      {% if project.related-jobs %}
        <div class="row row-header">
          <div class="col-xs-12">
            <b>Developed for</b>:
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            {% for job in jobs %}
              {% for related-job in project.related-jobs %}
                {% if related-job == job.company %}
                  <li><a href="{{ site.url }}/work/#{{ related-job }}">{{ related-job }}</a></li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <!-- Technologies and Software Headers -->
      {% if project.technologies or project.software %}
        <hr class="subdivider" />
        <div class="row row-header">
          {% if project.technologies %}
          <div class="col-xs-6">
            <b>Technologies</b>:
          </div>
          {% endif %}
          {% if project.software %}
          <div class="col-xs-6">
            <b>Software</b>:
          </div>
          {% endif %}
        </div>

        <div class="row">
          <!-- Technologies Used -->
          {% if project.technologies %}
            <div class="col-xs-6">
              {% assign sorted-technologies = project.technologies | sort %}
              {% for technology in sorted-technologies %}
                <li>{{ technology }}</li>
              {% endfor %}
            </div>
          {% endif %}

          <!-- Software Used -->
          {% if project.software %}
          <div class="col-xs-6">
            {% assign sorted-software = project.software | sort %}
            {% for software in sorted-software %}
              <li>{{ software }}</li>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% unless forloop.last %}
          <hr class="divider" />
        {% endunless %}
      {% endif %}

    </div>
    <br />
  {% endfor %}

</div>
